<div class="dashboard-wrapper">

  <!-- HEADER -->
  <div class="dashboard-header">
    <h1>Future-Skills Dashboard</h1>
    <p>Overview of future skills, levels and field distribution</p>
  </div>

  <!-- KPI ROW -->
  <div class="kpi-grid">
    <div class="kpi-card blue">
      <div class="kpi-value">{{ totalSkills }}</div>
      <div class="kpi-label">Total Skills</div>
    </div>

    <div class="kpi-card green">
      <div class="kpi-value">{{ skillLevelsCount }}</div>
      <div class="kpi-label">Skill Levels</div>
    </div>

    <div class="kpi-card purple">
    <div class="kpi-value">{{ lecturersCount }}</div>
    <div class="kpi-label">Lecturers</div>
  </div>
  </div>

  <!-- MAIN CHART -->
  <div class="chart-section">
    <div class="chart-card large">
      <div class="chart-title">Skill Levels per Skill</div>
      <ngx-charts-bar-vertical-stacked
        [results]="skillsLevelMatrixData"
        [scheme]="colorScheme"
        [legend]="true"
        [legendPosition]="LegendPosition.Right"
        [xAxis]="true"
        [yAxis]="true"
        [barPadding]="32"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [yScaleMax]="10"
        [yAxisTickFormatting]="yAxisTickFormatting"

        xAxisLabel="Skill"
        yAxisLabel="Count"
        [animations]="true">
      </ngx-charts-bar-vertical-stacked>

    </div>
  </div>

  <!-- GRID -->
  <<div class="chart-card pie-large">
  <div class="chart-title">Skills by Level</div>

  <ngx-charts-pie-chart
    [results]="skillsByLevelData"
    [scheme]="colorScheme"
    [legend]="true"
    [legendPosition]="LegendPosition.Below"
    [labels]="true"
    [doughnut]="true"
    [arcWidth]="0.35"
    [view]="[620, 420]"
    [animations]="true">
  </ngx-charts-pie-chart>
</div>


  <div class="chart-card bar-slim">
    <div class="chart-title">Skills Popularity</div>

    <ngx-charts-bar-vertical
      [results]="skillsData"
      [scheme]="colorScheme"
      [legend]="true"
      [legendPosition]="LegendPosition.Right"
      [xAxis]="true"
      [yAxis]="true"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      xAxisLabel="Skill"
      yAxisLabel="Count"
      [barPadding]="32"
      [yAxisTickFormatting]="yAxisTickFormatting"
      [yScaleMax]="yMax"
      [animations]="true">
    </ngx-charts-bar-vertical>
  </div>


  <div class="chart-card">
      <div class="chart-title">Fields Popularity</div>
      <ngx-charts-pie-chart
        [results]="lecturersSkillFields"
        [legend]="true"
        [labels]="true">
      </ngx-charts-pie-chart>
    </div>
  </div>
