<div class="main-container">
  <div class="header-section">
   
    
    <div class="welcome-section">
      <h1>
        {{ 'MAIN_PAGE.WELCOME' | translate }}
        <span class="user-name" *ngIf="currentUser">
          {{ currentUser.title ? currentUser.title + ' ' : '' }}{{ currentUser.firstName }} {{ currentUser.lastName }}
        </span>
        {{ 'MAIN_PAGE.WELCOME_TO_SKILLS_MANAGEMENT' | translate }}
      </h1>
    </div>
  </div>

  <div class="intro-section">
    <img src="assets/logo.png" alt="FH Technikum Wien Logo" class="fhtw-logo">
    <p class="intro-text">
      {{ 'MAIN_PAGE.INTRO_TEXT' | translate }}
    </p>
  </div>
  
  <div id="parentSkilltreeContainer" class="skilltree-container">
    <h2 class="skilltree-header">{{ 'MAIN_PAGE.SKILL_OVERVIEW' | translate }}</h2>
    
    <div class="intro-section secondary">
      <p class="intro-text">
        {{ 'MAIN_PAGE.SKILLTREE_INTRO' | translate }}
        <span class="intro-highlight">{{ 'MAIN_PAGE.SKILLTREE_HINT' | translate }}</span>
      </p>
    </div>

    <div class="tree-controls">
      <button class="control-btn" (click)="toggleAll()">
        <mat-icon>{{ isAllExpanded ? 'unfold_less' : 'unfold_more' }}</mat-icon>
        {{ isAllExpanded ? ('MAIN_PAGE.COLLAPSE_ALL' | translate) : ('MAIN_PAGE.EXPAND_ALL' | translate) }}
      </button>
      <button class="control-btn" (click)="exportSkillTreeAsPDF()">
        <mat-icon>download</mat-icon>
        {{ 'MAIN_PAGE.EXPORT_SKILLTREE_PDF' | translate }}
      </button>
    </div>

    <div class="skill-hierarchy">
      <ng-container *ngFor="let root of skillTree">
        <!-- Root Node -->
        <div class="skill-row">
          <div class="skill-node root-node" (click)="toggleExpand(root)">
            <span>{{ root.name }}</span>
            <mat-icon class="expand-icon" [class.expanded]="root.isExpanded">expand_more</mat-icon>
          </div>
        </div>
        <!-- Child and Grandchild Nodes -->
        <div class="child-grandchild-row" *ngIf="root.isExpanded" [@expandCollapse]>
          <ng-container *ngFor="let child of root.children">
            <div class="child-grandchild-group">
              <div class="skill-node child-node" (click)="toggleExpand(child)">
                <span>{{ child.name }}</span>
                <mat-icon *ngIf="child.children?.length" class="expand-icon" [class.expanded]="child.isExpanded">expand_more</mat-icon>
              </div>
              <div class="grandchildren" *ngIf="child.isExpanded" [@expandCollapse]>
                <ng-container *ngFor="let grandchild of child.children">
                  <div class="skill-node grandchild-node">
                    <span>{{ grandchild.name }}</span>
                  </div>
                </ng-container>
              </div>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
</div> 